<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium project">
    <test name="conduit test ">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="com.exalt.tests.ConduitLoginPageTest"></class>
        </classes>
    </test>
</suite>