<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="com.exalt.report.listeners.ReporterListener"/>
    </listeners>
    <test name="login API test ">
        <classes>
            <class name="com.exalt.tests.APItest.article.GetArticleTest">
                <methods>
                    <include name="invalidGetArticleTest"/>
                    <!--<include name="loginWithInvalidCredentialsTest"/>-->
                </methods>
            </class>
        </classes>
    </test>
    <!--    <test name="sdf ">-->
    <!--        <classes>-->
    <!--            <class name="com.exalt.tests.APItest.login.LoginTest">-->
    <!--                <methods>-->
    <!--                    <include name="loginWithInvalidCredentialsTest" />-->
    <!--                </methods>-->
    <!--            </class>-->
    <!--        </classes>-->
    <!--    </test>-->
</suite>
